@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bodyIndex{
    background-color: black;
    font-family: 'Oswald', sans-serif;
}
.bodyMichael{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
.bodyKobe{
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Oswald', sans-serif;
}
header a{
    text-decoration: none;
}
.row{
    margin-right: 0;
    margin-left: 0;
}

.cajaZapatos{
    background-color: aqua;
    height: 100vh;
    border: 2px black solid;
    display: flex;
    justify-content: center;
}

#Caja1{
    background-image: url(../img/michael.jpg);
    background-position: center;
    background-size: cover;
    grid-area: Caja1;
}
#Caja1 h2{
    color: white;
    text-shadow: 1px -1px 0 red, -1px 2px 1px red, -2px 4px 1px red, -3px 6px 1px red, -4px 8px 1px rgba(206,89,55,0);
}
#Caja2{
    background-image: url(../img/kobe.jpg);
    background-position: center;
    background-size: cover;
    grid-area: Caja2;
}
#Caja2 h2{
    color: white;
    text-shadow: 1px -1px 0 purple, -1px 2px 1px purple, -2px 4px 1px purple, -3px 6px 1px purple, -4px 8px 1px rgba(206,89,55,0);
}
#Caja3{
    background-image: url(../img/irving.jpg);
    background-position: center;
    background-size: cover;
    grid-area: Caja3;
}
#Caja3 h2{
    color: white;
    text-shadow: 1px -1px 0 grey, -1px 2px 1px gray, -2px 4px 1px grey, -3px 6px 1px gray, -4px 8px 1px rgba(206,89,55,0);
}
#Caja4{
    background-image: url(../img/lebron.jpg);
    background-position: center;
    background-size: cover;
    grid-area: Caja4;
}
#Caja4 h2{
    color: white;
    text-shadow: 1px -1px 0 yellow, -1px 2px 1px yellow, -2px 4px 1px yellow, -3px 6px 1px yellow, -4px 8px 1px rgba(206,89,55,0);
}

#Caja1:hover{
    transform: scale(0.9);
		transition: 0.4s;
}
#Caja2:hover{
    transform: scale(0.9);
		transition: 0.4s;
}
#Caja3:hover{
    transform: scale(0.9);
		transition: 0.4s;
}
#Caja4:hover{
    transform: scale(0.9);
		transition: 0.4s;
}

header{
  display: grid;
  grid-template-areas: 
  "Caja1 Caja2 Caja3 Caja4"
  "Caja1 Caja2 Caja3 Caja4"
  "Caja1 Caja2 Caja3 Caja4"
  "Caja1 Caja2 Caja3 Caja4";
}

/***********Inicio Del CSS De michael-jordan.html***********/
.videoPrincipal{
    position: relative;
    height: 600px;
}
.videoPrincipal video{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.gradienteMichael{
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(#FF0000, #ffffff);
  opacity: 0.6;
}
.containerBottonDelCarrito {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}
#buttonCarrito {
  display: none;
}
.buttonLabel {
  cursor: pointer;
  color: black;
}
.modalCarrito {
  position: fixed;
  top: 0;
  left: 12%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}
#buttonCarrito:checked ~ .modalCarrito {
  opacity: 1;
  visibility: visible;
}
.contenedorModal {
  width: 1000px;
  height: 450px;
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
  transition: all 500ms ease;
}
.contenedorModal button {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #000000;

}
.miniContenedorModal {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
  margin-bottom: 20px;
  font-size: 30px;
}
.seccionesModal {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.seccionesModal h3 {
  font-size: 15px;
}
.carrito {
  border: black 2px solid;
  overflow-y: scroll;
  height: 250px;
}
.itemCarrito {
  display: flex;
  justify-content: space-around;
}
.itemCarrito img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
.textoPrincipal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
}
.textoPrincipal h1{
    color: #000000;
    font-size: 60px;
    height: 300px;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 100%;
    animation: text linear 2000ms infinite;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@keyframes text {
    0% {
      text-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #ffffff,
        -3px 3px 0 #ffffff,
        -2px 2px 0 #ffffff,
        -1px 1px 0 #ffffff
      ;
    }
    25% {
      text-shadow:
        -4px -4px 0 #ffffff,
        -3px -3px 0 #ffffff,
        -2px -2px 0 #ffffff,
        -1px -1px 0 #ffffff,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #ffffff,
        3px -3px 0 #ffffff,
        2px -2px 0 #ffffff,
        1px -1px 0 #ffffff
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 #ffffff,
        3px 3px 0 #ffffff,
        2px 2px 0 #ffffff,
        1px 1px 0 #ffffff,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #ffffff,
        -3px 3px 0 #ffffff,
        -2px 2px 0 #ffffff,
        -1px 1px 0 #ffffff
      ;
    }
  }
.textoPrincipal p{
    display: flex;
    height: 100x;
    justify-content: center;
    font-size: 30px;
    color: black;
}
.navMichael{
    background-color: #FF0000;
}
.nav{
    display: flex;
    justify-content: end;
    font-size: 20px;
}
.textoIntoductivoMichael{
    text-align: center;
    height: 300px;
    padding: 30px;
    margin: 50px;
    color: white;
    border: 2px black solid;
    animation: box linear 2000ms infinite;
}
@keyframes box {
    0% {
      box-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 white,
        -3px 3px 0 white,
        -2px 2px 0 white,
        -1px 1px 0 white
      ;
    }
    25% {
      box-shadow:
        -4px -4px 0 white,
        -3px -3px 0 white,
        -2px -2px 0 white,
        -1px -1px 0 white,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      box-shadow:
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #ffffff,
        3px -3px 0 #ffffff,
        2px -2px 0 #ffffff,
        1px -1px 0 #ffffff
      ;
    }
    75% {
      box-shadow:
        4px 4px 0 white,
        3px 3px 0 white,
        2px 2px 0 white,
        1px 1px 0 white,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      box-shadow:
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 white,
        -3px 3px 0 white,
        -2px 2px 0 white,
        -1px 1px 0 white
      ;
    }
  }
.textoIntoductivoMichael h2{
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.bannerJordans img{
  width: 100%;
  height: 500px;
}
.titulosDeJordans{
  color: black;
  font-size: 3rem;
  animation: text linear 2000ms infinite;
  margin: 30px;
}
#jordans1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.tarjetas{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.tarjetas img{
  padding: 10px;
}
.buttonTarjetas{
    padding: 5px;
    background-color: #FF0000;
}
.footerMichael{
  width: 100%;
  height: 330px;
  background-color: red;
  position: relative;
}
.logoFooter{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.navbarFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.navbar-nav a{
  display: flex;
  justify-content: center;
}
.redesSociales{
  position: absolute;
  bottom: 0;
  color: black;
  margin-bottom: 10px;
}
.redesSociales a{
  padding-right: 20px;
}
.copyrightMichael{
  background-color: #FF0000;
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: #000000 2px solid;
  border-bottom: #000000 2px solid;
  padding: 5px;
}
.copyrightMichael h3{
  font-size: 15px;
}
/***********Fin Del CSS De michael-jordan.html***********/

/***********Inicio Del CSS De kobe-bryant.html***********/
.gradienteKobe{
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(#8F00FF, purple);
  opacity: 0.6;
}
.textoPrincipalKobe{
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
}
.textoPrincipalKobe h1{
  color: black;
  font-size: 60px;
  height: 300px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 100%;
  animation: textKobe linear 2000ms infinite;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@keyframes textKobe {
  0% {
    text-shadow:
      4px -4px 0 #9B00FF,
      3px -3px 0 #9B00FF,
      2px -2px 0 #9B00FF,
      1px -1px 0 #9B00FF,
      -4px 4px 0 #000000,
      -3px 3px 0 #000000,
      -2px 2px 0 #000000,
      -1px 1px 0 #000000
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #000000,
      -3px -3px 0 #000000,
      -2px -2px 0 #000000,
      -1px -1px 0 #000000,
      4px 4px 0 #9B00FF,
      3px 3px 0 #9B00FF,
      2px 2px 0 #9B00FF,
      1px 1px 0 #9B00FF
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #9B00FF,
      -3px 3px 0 #9B00FF,
      -2px 2px 0 #9B00FF,
      -1px 1px 0 #9B00FF,
      4px -4px 0 #000000,
      3px -3px 0 #000000,
      2px -2px 0 #000000,
      1px -1px 0 #000000
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #000000,
      3px 3px 0 #000000,
      2px 2px 0 #000000,
      1px 1px 0 #000000,
      -4px -4px 0 #9B00FF,
      -3px -3px 0 #9B00FF,
      -2px -2px 0 #9B00FF,
      -1px -1px 0 #9B00FF
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #9B00FF,
      3px -3px 0 #9B00FF,
      2px -2px 0 #9B00FF,
      1px -1px 0 #9B00FF,
      -4px 4px 0 #000000,
      -3px 3px 0 #000000,
      -2px 2px 0 #000000,
      -1px 1px 0 #000000
    ;
  }
}
.textoPrincipalKobe p{
  display: flex;
  height: 100x;
  justify-content: center;
  font-size: 30px;
  color: black;
}
.navKobe{
  background-color: purple;
}
.textoIntoductivoKobe{
  text-align: center;
    height: 300px;
    padding: 30px;
    margin: 50px;
    color: black;
    border: 2px black solid;
    animation: boxKobe linear 2000ms infinite;
}
@keyframes boxKobe {
  0% {
    box-shadow:
      4px -4px 0 #9B00FF,
      3px -3px 0 #9B00FF,
      2px -2px 0 #9B00FF,
      1px -1px 0 #9B00FF,
      -4px 4px 0 purple,
      -3px 3px 0 purple,
      -2px 2px 0 purple,
      -1px 1px 0 purple
    ;
  }
  25% {
    box-shadow:
      -4px -4px 0 purple,
      -3px -3px 0 purple,
      -2px -2px 0 purple,
      -1px -1px 0 purple,
      4px 4px 0 #9B00FF,
      3px 3px 0 #9B00FF,
      2px 2px 0 #9B00FF,
      1px 1px 0 #9B00FF
    ;
  }
  50% {
    box-shadow:
      -4px 4px 0 #9B00FF,
      -3px 3px 0 #9B00FF,
      -2px 2px 0 #9B00FF,
      -1px 1px 0 #9B00FF,
      4px -4px 0 purple,
      3px -3px 0 purple,
      2px -2px 0 purple,
      1px -1px 0 purple
    ;
  }
  75% {
    box-shadow:
      4px 4px 0 purple,
      3px 3px 0 purple,
      2px 2px 0 purple,
      1px 1px 0 purple,
      -4px -4px 0 #9B00FF,
      -3px -3px 0 #9B00FF,
      -2px -2px 0 #9B00FF,
      -1px -1px 0 #9B00FF
    ;
  }
  100% {
    box-shadow:
      4px -4px 0 #9B00FF,
      3px -3px 0 #9B00FF,
      2px -2px 0 #9B00FF,
      1px -1px 0 #9B00FF,
      -4px 4px 0 purple,
      -3px 3px 0 purple,
      -2px 2px 0 purple,
      -1px 1px 0 purple
    ;
  }
}
.textoIntoductivoKobe h2{
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.textoIntoductivoKobe p{
  color: white;
}



.footerKobe{
  width: 100%;
  height: 330px;
  background-color: purple;
  position: relative;
}

.copyrightKobe{
  background-color: purple;
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: #000000 2px solid;
  border-bottom: #000000 2px solid;
  padding: 5px;
}
.copyrightKobe h3{
  font-size: 15px;
}

/**************Media-queris**************/


@media (min-width: 300px) and (max-width: 699px){
    body header{
      display: grid;
      grid-template-areas: 
      "Caja1"
      "Caja2"
      "Caja3"
      "Caja4";
    }
    .cajaZapatos{
      height: 25vh;
    }
    #Caja2{
      background-position: top;
    }
    .textoPrincipal h1{
      font-size: 35px;
    }
    .textoPrincipal p{
      font-size: 20px;
    }
    .textoIntoductivoMichael{
      margin: 40px 0 40px 0;
    }
    .bannerJordans img{
      height: 250px;
    }
}